@model TexasTRInventory.Models.ApplicationUser
 

@{
    ViewBag.Title = "Edit";
}

<h2>Editing user @Model.Email</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit User Form.</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" readonly />
                <label asp-for="Email" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsDisabled" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsDisabled" />
                <span asp-validation-for="IsDisabled" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="EmployerID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="EmployerID" class="form-control" asp-items="ViewBag.EmployerID"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
