@model IEnumerable<TexasTRInventory.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SKUSortParm"]">@Html.DisplayNameFor(model => model.SKU)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th style=" max-width: 200000px;">

                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dimensions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UPC)
            </th>
            @if (Utils.IsInternalUser(User))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PartNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dealer)
                </th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SKU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style=" max-width: 200000px;">
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OurCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimensions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UPC)
            </td>
            @*EXP 9.18.17. hiding this for external users*@
            @if(Utils.IsInternalUser(User))
            {
                <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dealer)
                </td>

}
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> <br/>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a><br />
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a><br />
            </td>
        </tr>
}
    </tbody>
</table>
