@model IEnumerable<TexasTRInventory.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SKU)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PartNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmazonASIN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inventory)
                </th>
                <th>

                    @Html.DisplayNameFor(model => model.Info)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OurCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dealer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MAP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dimentions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UPC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Website)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PackageContents)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SKU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmazonASIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory)
            </td>
            <td style="white-space:nowrap">
                @Html.DisplayFor(modelItem => item.Info)
            </td="true">
            <td>
                @Html.DisplayFor(modelItem => item.OurCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dealer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimentions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UPC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageContents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
