@*@model IEnumerable<TexasTRInventory.Models.CSVViewModel>*@
@model TexasTRInventory.Models.CSVList

@{
    ViewData["Title"] = "Saved Off Versions";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table">
        <thead>
          
    <tr> @*TODO If the model[0] is null, then we'll crash.*@
        <th>
            @Html.DisplayNameFor(model => model.TheOnlyField[0].ShouldBeDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheOnlyField[0].Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheOnlyField[0].PrettySize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheOnlyField[0].URL)
        </th>
    </tr>
          
        </thead>
        <tbody>
            @*@for(int i = 0; i < Model.TheOnlyField.Count; i++)
                {
                    var item = Model.TheOnlyField[i];
                    <div class="editor-field">

                    </div>
                <tr>
        <td>
            <input type="text" hidden="hidden" name=@("model.TheOnlyField[" + i+"].Name") value=@Model.TheOnlyField[i].Name />
            <input type="checkbox" name=@("model.TheOnlyField[" + i+"].ShouldBeDeleted")  value="true"/>
        </td>
        <td>
            @Html.DisplayFor(m => m.TheOnlyField[i].Modified)
            <input type="text" hidden="hidden" name=@("model.TheOnlyField[" + i+ "].Modified") value=@Model.TheOnlyField[i].Modified />
        </td>
        <td>
            @Html.DisplayFor(m => m.TheOnlyField[i].PrettySize)
            <input type="text" hidden="hidden" name=@("model.TheOnlyField[" + i+ "].PrettySize") value=@Model.TheOnlyField[i].PrettySize />
        </td>
        <td>
            @Html.DisplayFor(m => m.TheOnlyField[i].URL)
            <input type="text" hidden="hidden" name=@("model.TheOnlyField[" + i+ "].URL") value=@Model.TheOnlyField[i].URL />
        </td>
    </tr>


            }*@
        </tbody>
    </table>

    @for(int i = 0; i<Model.TheOnlyField.Count; i++)
    {
        var item = Model.TheOnlyField[i];
        <div class="editor-field">
            <input type="checkbox"
                   name="TheOnlyField[@i].ShouldBeDeleted"
                   value="@item.ShouldBeDeleted"
                   />
            <input type="text"
                   name="TheOnlyField[@i].Name"
                   value="@item.Name" />

            <input type="text"
                   name="TheOnlyField[@i].URL"
                   value="@item.URL" />
            <input type="text"
                   name="TheOnlyField[@i].PrettySize"
                   value="@item.PrettySize" />

        </div>

    }

    <div class="form-group">
        <input type="submit" value="Delete Selected" class="btn btn-default" />
    </div>
}